name: Build

on:
  workflow_call:

  push:
    branches: [main]

  pull_request:
    branches: [main]

  workflow_dispatch:

concurrency:
  group: build-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-skip:
    runs-on: ubuntu-latest
    steps:
      - name: Hello build
        run: echo "Hello Build"
